* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 50px;
}

/* MAIN LAYOUT */

.main-layout {
  display: flex;
  flex: 1;
}

/* SIDEBAR */

.sidebar {
  width: 220px;
  background-color: #333;
  color: white;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar a {
  padding: 0.5rem;
  border-radius: 6px;
}

.sidebar a:hover {
  background-color: #444;
}

/* PAGE CONTENT */

.page-content {
  flex: 1;
  padding: 2rem;
}

/* FOOTER */

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer a {
  color: #61dafb;
}
